@tailwind base;
@tailwind components;
@tailwind utilities;

/* This forces the site to be Dark Navy with White text by default */
@layer base {
  body {
    @apply bg-[#0f172a] text-white;
  }
  
  /* Optional: Makes headings slightly brighter/bolder */
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-100;
  }
}
